IDI_ICON1 ICON "icon1.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "YuriSizuku"
      VALUE "FileDescription", "A cross platform tool to view and analyze tiles or textures"
      VALUE "FileVersion", "0.3.1"
      VALUE "InternalName", "TileViewer"
      VALUE "OriginalFilename", "TileViewer.exe"
      VALUE "ProductName", "TileViewer"
      VALUE "ProductVersion", "0.3.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END