name: build linux
on:
  push: {tags:  ['v*']} #  Push events to matching v*, i.e. v1.0, v20.15.10
  pull_request:

permissions:
  contents: write

jobs:
  build_linux:
    strategy:
      matrix:
        arch:
          - {prefix: i386, suffix: x86, image: ubuntu-24.04}
          - {prefix: x86_64, suffix: x64, image: ubuntu-24.04}
          - {prefix: armhf, suffix: arm32, image: ubuntu-24.04-arm}
          - {prefix: aarch64, suffix: arm64, image: ubuntu-24.04-arm}

    runs-on: ${{ matrix.arch.image }}
    steps:
    - uses: actions/checkout@v4

    - name: init enviroment
      run: |
        sudo apt-get -qq -y install p7zip-full git cmake

    - name: build ${{ matrix.arch.suffix }}
      run: |
        mkdir build
        export DOCKER_ARCH=${{ matrix.arch.prefix }}
        export BUILD_DIR=build
        export BUILD_TYPE=MinSizeRel
        bash script/build_docker.sh

    - name: prepare release
      run: |
        readelf -h build/TileViewer
        readelf -a build/TileViewer | grep NEEDED
        if [[ ! "${{  github.ref_name }}" =~ "merge" ]]; then
          mv build/TileViewer TileViewer_${{  github.ref_name }}_${{ matrix.arch.suffix }}_linux
        fi

    - name: create release
      uses: ncipollo/release-action@v1
      if: github.event_name == 'push'
      with:
        artifacts: "TileViewer_*"
        allowUpdates: "true"
        token: ${{ secrets.GITHUB_TOKEN }}