name: build windows
on:
  push: {tags:  ['v*']} #  Push events to matching v*, i.e. v1.0, v20.15.10
  pull_request: 
  
permissions:
  contents: write

env:
  MINGWSDK: /opt/mingwsdk

jobs:
  build_mingw:
    strategy:
      matrix: 
        arch: [{prefix: i686, suffix: x86}, {prefix: x86_64, suffix: x64}]

    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4

    - name: init enviroment
      run: |
        sudo apt-get -y install p7zip-full git make cmake
        curl -fsSL https://github.com/mstorsjo/llvm-mingw/releases/download/20240619/llvm-mingw-20240619-msvcrt-ubuntu-20.04-x86_64.tar.xz -o /tmp/llvm-mingw.tar.xz
        tar xf /tmp/llvm-mingw.tar.xz -C /tmp
        _tmppath=/tmp/llvm-mingw-20240619-msvcrt-ubuntu-20.04-x86_64 
        sudo mv -f ${_tmppath} $MINGWSDK

    - name: build ${{ matrix.arch.suffix }}
      run: |
        mkdir build
        export PATH=${MINGWSDK}/bin:$PATH
        export CC=${{ matrix.arch.prefix }}-w64-mingw32-clang
        export WINRES=${{ matrix.arch.prefix }}-w64-mingw32-windres
        export BUILD_DIR=build
        export BUILD_TYPE=MinSizeRel
        bash script/build_mingw.sh
    
    - name: prepare release
      run: |
        mv build/TileViewer.exe TileViewer_${{  github.ref_name }}_${{ matrix.arch.suffix }}_win.exe
      
    - name: create release
      uses: ncipollo/release-action@v1
      if: github.event_name == 'push'
      with:
        artifacts: "TileViewer_*.exe"
        allowUpdates: "true"
        token: ${{ secrets.GITHUB_TOKEN }}